@import'footer.css';
@import'header.css';
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

$primary-color:#212529;
$secondary-color:#EBCFB2;


*{
    margin: 0px;
    padding: 0px;
}

main{
    height: 100%;
    width: 100%;
    background-color: $primary-color;
}
.card{
    display:flex;
    flex-wrap: wrap;;
    margin-top:60px;
    border: 2px solid $secondary-color;
    background-color: $primary-color;
    color:white;
    img{
        object-fit: contain;
        margin-left: 40px;
        margin-top: 25px;
        height: 650px;
        width: 450px;
    }
    
}
.card-title{
        color: $secondary-color;
}
@media only screen and (max-width: 600px){
    h1{
        font-size: 30px;
    }
    .card{
        margin-left:6px;
        .card-img-top{
    object-fit: contain;
    margin-left: 20px;
    margin-top: 25px;
    height: 350px;
    width: 300px;
        }
    }
}
.card-group{
    display: flex;
    flex-wrap: wrap;
    
}
.btn{
    background-color: #424B54;
    color: #EBCFB2;
    
}

.personajes-casas{
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    background-color: $primary-color;
    display:flex;
    text-align: center;
    flex-wrap: wrap;
        a{ 
            font-family: 'Aclonica', sans-serif;
            font-size: 50px;
            width: 100%;
            height: 23px;
            color: $secondary-color;
            margin:10px;
            text-align: center;}
        h1{            
            font-family: 'Aclonica', sans-serif;
            font-size: 50px;
            width: 100%;
            height: 23px;
            color: $secondary-color;
            margin:10px;
            text-align: center;
}
}

.texto{
    padding: 30px;
    margin-top: 30px;
    color: $secondary-color;
}

.casa{
    background-color: $primary-color;
    margin: 30px;
    border: $secondary-color solid 2px;
    border-radius: 20px;
    width: 250px;
    height: 310px;
    color:$secondary-color;
    &hover{
        transform:scaleX(12);
}
h2{
    padding: 5px;
    font-size: 25px;

}
img{
    width: 230px;
    height: 230px;
    object-fit: cover;
    }
        &:hover{
        transform: scale(1.05);
        overflow: smooth;
    }
}

@media only screen and (max-width: 600px){
    .casa{margin:auto;
    }
    .texto{
        margin-top:80px;
    }
    iframe{
        width: 300px;
        height: 210px;
    }
}

.separacion{
    width: 100%;
    height:00px;
    height: 2px;
    background-color: $secondary-color;
}

.escudos{
    width: 100%;
    background-color: $primary-color;
    border: $secondary-color 2px solid;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: space-evenly;
    padding:50px;
}

.escudos-casas{
    width: 300px;
    height: 520px;
    background-color: $primary-color;
    border: $secondary-color 2px solid;
    border-radius: 40px;
    justify-content: center;
    text-align : center;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 2px #200116;
    h1{
        font-size: 30px;
        text-align: center;
        color: $secondary-color;
    }
    img{
        width: 250px;
        padding:10px;
    }
    &:hover{
        transform: scale(1.05);
        overflow: smooth;
    }
}

.escudos-libros{
    width: 300px;
    height: 520px;
    background-color: $primary-color;
    border: $secondary-color 2px solid;
    border-radius: 20px;
    justify-content: center;
    text-align : center;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 2px #200116;
    h1{
        font-size: 25px;
        text-align: center;
        color: $secondary-color;
    }
    img{
        width: 250px;
        height: 400px;
        padding:10px;
        object-fit: cover;
    }
    .btn{
        &hover{
            background-color: aquarium;
        }
    }
    &:hover{
        transform: scale(1.05);
        overflow: smooth;
    }
}

.btn{
    font-family:    'Aclonica', sans-serif;
    color: $secondary-color;
    background-color: #2D0653;
    &:hover{
        background-color: #EBCFB2 !important;
    }
}


.extras{
    width: 100%;
    height: auto;
    background-color: $primary-color;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    h1{
        color: $secondary-color;
        text-align: center;
        font-family: 'Aclonica', sans-serif;
    }
}
.ayudantes{
    width: 300px;
    height: 250px;
    border: $secondary-color 2px solid;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    h2{
        color: $secondary-color;   
    }
}

.video {
    width: 100%;
    height: 800px;
    padding: 50px;
    background-color: $primary-color;
    justify-content: space-evenly;
    text-align: center;
    border: $secondary-color 2px solid;
    h1{
        font-family: "Aclonica", sans-serif;
        color: $secondary-color;
    }
    iframe{
        padding:20px;
        border: $secondary-color 2px solid;
        border-radius: 20px;
    }
}
