* {
  margin: 0px;
  padding: 0px; }

main {
  height: 100%;
  width: 100%;
  background-color: #212529; }

.card {
  margin-top: 60px;
  border: 2px solid #EBCFB2;
  background-color: #212529;
  color: white; }
  .card img {
    margin-left: 40px;
    margin-top: 25px;
    height: 650px;
    width: 450px; }

.btn {
  background-color: #424B54;
  color: #EBCFB2; }
